.text-align-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-center {
  min-height: 50vh;
  align-items: center;
  align-content: center;
}

.black-bg {
  background-color: rgb(15, 15, 15, 80%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.white-text {
  color: white;
}

.dialog-box {
  background-color: white;
  height: 200px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

textarea {
  resize: none;
}

select,
input {
  margin: 1rem;
  margin-left: 0;
}

.text-align-right {
  text-align: right;
}

.margin-10-bottom {
  margin-bottom: 10px;
}

.day-button {
  width: 100px;
  height: 90px;

  /* padding: 50px 10px; */
}

.margin-top {
  margin-top: 2rem;
}

th {
  color: black;
  background-color: grey;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #eee;
}

td,
th {
  font-size: 1.5rem;
}

table {
  border: 1px solid black;
  width: 75%;
}

th:nth-child(odd),
td:nth-child(odd) {
  border-right: 1px solid black;
}
